Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.9.6
argparse==1.2.1
astroid==1.2.1
certifi==14.05.14
foursquare==20130707
httplib2==0.9
ipython==2.2.0
itsdangerous==0.24
logilab-common==0.62.1
oauthlib==0.6.3
poster==0.8.1
pylint==1.3.1
requests==2.4.0
requests-oauthlib==0.4.1
simplejson==3.6.3
six==1.7.3
textblob==0.8.4
twitter==1.15.0
wsgiref==0.1.2
